# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Jetbrains IDE
*.iml
.idea

# Ignore input files
src/main/resources/Day*.txt

# Kotlin compiler cache
.kotlin
